.banner-alert {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff3b38;
  color: #fff;
  z-index: 10005;
  opacity: 0.95;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.banner-close {
  padding:8px 12px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}